<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title data-tf="#head_title"></title>
</head>
<body>
<p style="color: red" data-tf="#error_msg"></p>
<p style="color: green" data-tf="#notice_msg"></p>

<p>
  <b>ID:</b>
  <span data-tf="#id">(id)</span>
</p>
<p>
  <b>Title:</b>
  <span data-tf="#title">(title)</span>
</p>
<p>
  <b>Body:</b>
  <span data-tf="#body">(body)</span>
</p>
<p>
  <b>Created at:</b>
  <span data-tf="#createdAt">(createdAt)</span>
</p>
<p>
  <b>Updated at:</b>
  <span data-tf="#updatedAt">(updatedAt)</span>
</p>
<p>
  <b>Lock Revision:</b>
  <span data-tf="#lockRevision">(lockRevision)</span>
</p>
<a href="#" data-tf="#linkToEdit">Edit</a> |
<a href="#" data-tf="#linkToIndex">Back</a>

</body>
</html>
